// Centralni CSS


// --- Importujeme Bootstrap (BS) + jeho responsivni cast ---

@import '../bootstrap/less/bootstrap';
@import '../bootstrap/less/responsive';


// --- Prenastavime promenne ---

// Navigace se schovava az na mobilech
@navbarCollapseWidth: 480px;

// Grid na 1200px min bude stejny jako defaultni
@gridColumnWidth1200:     60px;
@gridGutterWidth1200:     20px;

// Barvy
@linkColor: 	#ff6600;
@headColor: 	#00A287;

// --- Nastaveni barev ---

.container-fluid {
	h1, h2, h3 {
		color: @headColor;
	}
}

// --- Upravime nasi variantu navigace ---

// Nad 980px ma BS navigace fixni pozici, takze musime pridat 
// odsazeni zezhora

body {  	
	@media (min-width: 980px)	{
		padding-top: 60px;
	}
}

// Od 481px do 767px nema nase varianta BS navigace odsazeni, dodelame rucne

@media (min-width: 481px) and (max-width: 767px) {
	.navbar-fixed-top {
		margin-left: 0;
		margin-right: 0;
				
		.navbar-inner {
			padding-left: 20px;
			padding-right: 20px;
		}			
	}	
}

// --- Upravime nasi variantu navigace ---

.container-fluid {
	max-width: 980px;
	
	@media (min-width: 1024px) {
		margin-left: auto;
		margin-right: auto;
	}
}

// --- Prihlasovaci formular ---

.bs-form {
	h2 {
		text-align: center;
	}
}

// 

.hero-unit {
	background: url('../bootstrap/img/hero.jpg') no-repeat center center;
	.background-size(cover);
	color: white;
	
	h1 {
		color: white;
		text-shadow: 1px 1px 0 rgba(0,0,0,.25);
	}
}