// Centralni CSS


// --- Importujeme Bootstrap (BS) + jeho responsivni cast ---

@import '../bootstrap/less/bootstrap';
@import '../bootstrap/less/responsive';


// --- Prenastavime promenne ---

// Navigace se schovava az na mobilech
@navbarCollapseWidth: 480px;

// Grid na 1200px min bude stejny jako defaultni
@gridColumnWidth1200:     60px;
@gridGutterWidth1200:     20px;

// Barvy
@linkColor: 	#ff6600;
@headColor: 	#00A287;

// --- Nastaveni barev ---

.container-fluid {
	h1, h2, h3 {
		color: @headColor;
	}
}

// --- Obrazek na pozadi ---

body {
	@media (min-width: 768px) {	
		background: url('../bootstrap/img/otis_redding.png');
	}
}

.content {
	
	@media (min-width: 768px) {	
		background: #fff;
		padding-bottom: 20px;
		margin-bottom: 40px;
		.box-shadow(1px 1px 5px 0 rgba(0,0,0,.5));
		.border-radius(@borderRadiusLarge);	
	}
	
	// Nad 980px ma BS navigace fixni pozici, takze musime pridat 
	// odsazeni zezhora	
	@media (min-width: 980px)	{
		padding-top: 60px;
	}	
}

// --- Webfonty ---

@font-face {
    font-family: 'BlueHighwayBold';
    src: url('bluehighway_bold_czech/blue_highway_bd-webfont.eot');
    src: url('bluehighway_bold_czech/blue_highway_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('bluehighway_bold_czech/blue_highway_bd-webfont.woff') format('woff'),
         url('bluehighway_bold_czech/blue_highway_bd-webfont.ttf') format('truetype'),
         url('bluehighway_bold_czech/blue_highway_bd-webfont.svg#DroidSerif') format('svg');
}
 
h1, h2, h2 {
    font-family: 'BlueHighwayBold', sans-serif;
	font-weight: normal;
}

// Od 481px do 767px nema nase varianta BS navigace odsazeni, dodelame rucne

@media (min-width: 481px) and (max-width: 767px) {
	.navbar-fixed-top {
		margin-left: 0;
		margin-right: 0;
				
		.navbar-inner {
			padding-left: 20px;
			padding-right: 20px;
		}			
	}	
}

// --- Upravime nasi variantu navigace ---

.container-fluid {
	max-width: 980px;
	
	@media (min-width: 1024px) {
		margin-left: auto;
		margin-right: auto;
	}
}

// --- Prihlasovaci formular ---

.bs-form {
	h2 {
		text-align: center;
	}
}

// 

.hero-unit {
	background: url('../bootstrap/img/hero.jpg') no-repeat center center;
	.background-size(cover);
	color: white;
	
	h1 {
		color: white;
		text-shadow: 1px 1px 2px rgba(0,0,0,.25);
	}
}