// Centralni CSS

// Importujeme Bootstrap (BS) + jeho responsivni cast

@import '../bootstrap/less/bootstrap';
@import '../bootstrap/less/responsive';

// Prenastavime promenne

@navbarCollapseWidth: 480px;


// Nad 980px ma BS navigace fixni pozici, takze musime pridat 
// odsazeni zezhora

body {  	
	@media (min-width: 980px)	{
		padding-top: 60px;
	}
}

// Od 481px do 767px nema nase varianta BS navigace odsazeni, dodelame rucne

@media (min-width: 481px) and (max-width: 767px) {
	.navbar-fixed-top {
		margin-left: 0;
		margin-right: 0;
				
		.navbar-inner {
			padding-left: 20px;
			padding-right: 20px;
		}			
	}	
}